.header
  %h1
    %a{href: '/'}= I18n.t('sena')
  - if user_signed_in?
    = button_to logout_path, method: :delete, class: "logout-button" do
      %span.icon.material-symbols-outlined logout



.bottom-nav
  - if user_signed_in?
    %a.bottom-nav__item{href: dashboard_index_path, class: ("active" if current_page?(dashboard_index_path))}
      %span.icon.material-symbols-outlined account_circle
    %a.bottom-nav__item{href: chat_path('last'), class: ("active" if current_page?(chat_path('last')))}
      %span.icon.material-symbols-outlined robot_2
    %a.bottom-nav__item{href: "#"}
      %span.icon.material-symbols-outlined settings
  - else
    %a.bottom-nav__item{href: root_path, class: ("active" if current_page?(root_path))}
      %span.icon.material-symbols-outlined home
    %a.bottom-nav__item{href: subscriptions_path, class: ("active" if current_page?(subscriptions_path))}
      %span.icon.material-symbols-outlined subscriptions
    %a.bottom-nav__item{href: login_path, class: ("active" if current_page?(login_path))}
      %span.icon.material-symbols-outlined login

