.hero
  .hero-text
    %h2 Tu espacio seguro de bienestar emocional
    %p Habla con un mentor emocional a tu ritmo.
    %p Interacciones humanas potenciadas con IA generativa.
    %button Empieza ahora
  .hero-image
    = image_tag("emotis/#{@main_amoti.key}.png")
