.chat-container{data: {controller: "chat"}}
  = hidden_field_tag 'chat-id', @chat.id.to_s
  .chat-header
    %h2= @chat.emoti.name
  .chat-messages{data: {chat_target: "messages"}, id: "chat-messages"}
    - @chat.messages.order_by(created_at: :asc).each do |message|
      .message{class: message.sender == :user ? 'user' : 'bot'}
        =raw message.content
        .timestamp
          = message.created_at.strftime("%H:%M")
  .chat-input
    %input#user-input{type: "text", placeholder: "Escribe tu mensaje...", data: {chat_target: "inputField"}}
    %button#send-button{data: {chat_target: "sendButton"}} Enviar
