$primary-color: #6D4C91
$primary-color-darker: #60427d
$secondary-color: #F8F5FA
$text-color: #333
$default-padding: 1rem
$dark: #121516
$light-gray: #f1f2f4
$gray-200: #dde1e3
$light-blue: #b2d0e5

$brand-purple: $primary-color
$brand-purple-dark: $primary-color-darker
$brand-purple-light: #E9D8FD
$gray-300: #D1D5DB
$gray-600: #4B5563
$gray-700: #374151
$gray-800: #1F2937
$white: #FFFFFF